@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik+Scribble&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles for button */

.btn {
  height: auto;
  min-height: 0rem;
}

.btn-circle {
  width: auto;
}

/* Login page Bg-Images Style */
#login_img {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.295),
      rgba(0, 0, 0, 0.404)
    ),
    url("https://i.ibb.co/3MfRmQZ/login-Abstract.jpg");
}

/* Custom style at Text area */
textarea {
  padding-top: 0.8rem;
}
